@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Koulen&family=Ledger&family=Major+Mono+Display&family=Manrope:wght@200;300;400;500;600;700;800&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

html {
  background-color: #333333;
}

.inputik {
  border-radius: 25px;
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  border-color: #ffcc00;
  border-width: 5px;
  border: 4px solid #ffcc00;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: auto;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.btn-search {
  width: 80px;
  height: 40px;
  margin-left: -90px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border-radius: 25px;
  border-color: #ffcc00;
  border: 3px solid #ffcc00;
  background-color: #ffcc00;
}

.top-film {
  cursor: pointer;
  width: 120px;
  height: 54px;
  margin-left: -800px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border-radius: 25px;
  border-color: #ffcc00;
  border: 3px solid #ffcc00;
  background-color: #ffcc00;
}
/* 
.btn-search {
  border-radius: 25px;
  width: 80px;
  height: 40px;
  font-size: 18px;
  font-family: monospace;
  align-items: center;
  margin-left: -90px;
  background-color: #ffcc00;
  border-color: #ffcc00;
} */